:root {
  background-color: black;
  --active-color: #111;

  --carrier: red;
  --battleship: blueviolet;
  --cruiser: greenyellow;
  --submarine: gold;
  --destroyer: green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
  width: 100%;
}

/* CONTAINER */

#container {
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* START MENU */

.menu {
  padding: 1rem 0;
  background-color: #222;
  color: white;
  width: 100%;
}

.menu-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div > input {
  background-color: #222;
  border: none;
  border-bottom: #000 2px solid;
  color: white;
  min-width: 20%;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.input-div input:focus,
.input-div input:hover {
  transition: 0.5s;
  border-bottom: var(--active-color) 2px solid;
}

.username-two:disabled {
  transition: 0.2s;
  opacity: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  border-bottom: var(--active-color) 0px solid;
  filter: blur(1rem);
}

.input-div > label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.input-div > label > input {
  margin-left: auto;
}

.menu-form > button {
  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  margin: 0;
  padding: 0.5rem 0;
  transition: 0.25s;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-form > button:focus,
.menu-form > button:hover {
  padding: 0.75rem 0;
  transition: 0.5s;
}

/* SET SHIPS */

.set-ships-wrapper {
  display: grid;
  height: auto;
  width: 90%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  user-select: none;
}

/* SHIPS STORAGE */

.ship-storage {
  display: flex;
  width: 100%;
  height: auto;
  grid-area: 1 / 1 / 3 / 2;
}

.cell-group {
  display: grid;
  align-content: flex-start;
  height: max-content;
  z-index: 1;
  cursor: move;
}

.cell-group:active {
  z-index: 10;
}

.cell-group .cell {
  height: auto;
  width: 5vw;
  aspect-ratio: 1;
  background-color: white;
  border: solid 1px #000;
}

/* SET SHIPS GRID */

.place-ships {
  width: auto;
  height: auto;
  grid-area: 1 / 2 / 3 / 3;
  aspect-ratio: 1;
}

.place-ships .cell {
}

/* MODAL */

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5rem);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 30%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* GAME */

.game-area {
  display: grid;
  height: auto;
  width: 90%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  min-width: 1rem;
  min-height: 1rem;
  aspect-ratio: 1;
}

@media (orientation: landscape) {
  .game-area {
    height: 90%;
    width: auto;
  }
}

.player-name {
  color: white;
}

/* BOARDS */

.current-player-board,
.current-reference-board {
  aspect-ratio: 1;
  background-color: #00485c;
  padding: 3.5%;
}

.current-player-board {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 50%;
}

.current-reference-board {
  grid-area: 2 / 2 / 3 / 3;
}

.current-reference-board .cell {
  border: #6c9daa 0.2vw solid;
}

/* GRID */

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  /* border: #6c9daa 0.2vw solid; */

  position: relative;
  z-index: 0;
}

.row {
  display: flex;
  width: 100%;
}

.cell {
  background-color: #7db1c0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0.5vw 0 #6c9daa;

  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;

  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.cell.enabled:not(.shot) {
  cursor: pointer;
}

.cell.enabled:not(.shot):hover {
  box-shadow: inset 0px 0px 10px 1px #c5dae0;
}

.cell.shot:not(.hit):not(.hit-animation) {
  -webkit-mask-image: url(./img/svg/shot.svg);
  mask-image: url(./img/svg/shot.svg);
  /* animation-name: glow-animation; */
}

.cell.hit:not(.hit-animation) {
  -webkit-mask-image: url(./img/svg/shot.svg), url(./img/svg/hit.svg);
  mask-image: url(./img/svg/shot.svg), url(./img/svg/hit.svg);
  /* animation-name: glow-animation; */
}

@keyframes glow-animation {
  0% {
    background-color: #7db1c0;
  }
  10% {
    background-color: #ffffff;
  }
  100% {
    background-color: #7db1c0;
  }
}

.cell.hit-animation {
  box-shadow: inset 0px 0px 10px 1px #c5dae0;
  position: relative;

  animation-name: hit-animation;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);

  background-repeat: no-repeat;
  background-position: center;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 25%,
    rgba(125, 177, 192, 1) 70%
  );
}

@keyframes hit-animation {
  0% {
    background-size: 110% 110%;
  }
  50% {
    background-size: 50% 50%;
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 25%,
      rgba(125, 177, 192, 1) 70%
    );
  }
  55% {
    background-size: 75% 75%;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(251, 252, 70, 1) 10%,
      rgba(252, 161, 70, 1) 20%,
      rgba(252, 122, 70, 1) 45%,
      rgba(252, 128, 70, 1) 60%
    );
  }
  90% {
    background-size: 400% 400%;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(251, 252, 70, 1) 10%,
      rgba(252, 161, 70, 1) 20%,
      rgba(252, 122, 70, 1) 45%,
      rgba(252, 128, 70, 1) 60%
    );
  }
  100% {
    background-size: 2000% 2000%;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(251, 252, 70, 1) 20%,
      rgba(252, 161, 70, 1) 40%,
      rgba(252, 122, 70, 1) 60%,
      rgba(252, 128, 70, 1) 80%
    );
  }
}

.cell.hit-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7db1c0;
  z-index: -1;
}

.cell.glow-animation {
  animation-name: glow-animation;
}

/* SHIPS */

.carrier.animate,
.battleship.animate,
.cruiser.animate,
.submarine.animate,
.destroyer.animate {
  animation-name: ship-flash-animation, shake;
  animation-duration: 0.25s;
  animation-timing-function: ease;
}

.cell.carrier {
  background-color: var(--carrier);
  --ship-color: var(--carrier);
}

.cell.battleship {
  background-color: var(--battleship);
  --ship-color: var(--battleship);
}

.cell.cruiser {
  background-color: var(--cruiser);
  --ship-color: var(--cruiser);
}

.cell.submarine {
  background-color: var(--submarine);
  --ship-color: var(--submarine);
}

.cell.destroyer {
  background-color: var(--destroyer);
  --ship-color: var(--destroyer);
}

@keyframes ship-flash-animation {
  0% {
    background-color: white;
  }
  100% {
    background-color: var(--ship-color);
  }
}

@keyframes shake {
  10% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  20% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }
  30% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  40% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }
  50% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  60% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
  }
  70% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  80% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  90% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
