:root {
  background-color: black;
  --active-color: #111;

  --carrier: red;
  --battleship: blueviolet;
  --cruiser: greenyellow;
  --submarine: gold;
  --destroyer: green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
  width: 100%;
}

/* CONTAINER */

#container {
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* START MENU */

.menu {
  padding: 1rem 0;
  background-color: #222;
  color: white;
  width: 100%;
}

.menu-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div > input {
  background-color: #222;
  border: none;
  border-bottom: #000 2px solid;
  color: white;
  min-width: 20%;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.input-div input:focus,
.input-div input:hover {
  transition: 0.5s;
  border-bottom: var(--active-color) 2px solid;
}

.username-two:disabled {
  transition: 0.2s;
  opacity: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  border-bottom: var(--active-color) 0px solid;
  filter: blur(1rem);
}

.input-div > label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.input-div > label > input {
  margin-left: auto;
}

.menu-form > button {
  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  margin: 0;
  padding: 0.5rem 0;
  transition: 0.25s;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-form > button:focus,
.menu-form > button:hover {
  padding: 0.75rem 0;
  transition: 0.5s;
}

/* GAME */

.game-area {
  display: grid;
  height: auto;
  width: 90%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  min-width: 1rem;
  min-height: 1rem;
  aspect-ratio: 1;
}

@media (orientation: landscape) {
  .game-area {
    height: 90%;
    width: auto;
  }
}

.player-name {
  color: white;
}

/* BOARDS */

.current-player-board {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #00485c;
  padding: 1rem;
  opacity: 50%;
  /* filter: blur(4rem); */
}

.current-player-board .cell {
  /* border: #6c9daa 0.01vw solid; */
}

.current-reference-board {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #00485c;
  padding: 1rem;
}

.current-reference-board .cell {
  border: #6c9daa 0.2vw solid;
}

/* GRID */

.grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.cell {
  background-color: #7db1c0;
  width: 100%;
  height: 100%;
  border: inherit;
  box-shadow: inset 0 0 1px 0;

  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;

  animation-duration: 0.65s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.cell.enabled:not(.shot) {
  cursor: pointer;
}

.cell.enabled:not(.shot):hover {
  box-shadow: inset 0px 0px 10px 1px #c5dae0;
}

.cell.shot:not(.hit) {
  -webkit-mask-image: url(./img/svg/shot.svg);
  mask-image: url(./img/svg/shot.svg);
}

.cell.hit {
  -webkit-mask-image: url(./img/svg/shot.svg), url(./img/svg/hit.svg);
  mask-image: url(./img/svg/shot.svg), url(./img/svg/hit.svg);
  animation-name: active-hit;
}

@keyframes active-hit {
  0% {
    background-color: #7db1c0;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #7db1c0;
  }
}

/* SHIPS */

.cell.carrier {
  background-color: var(--carrier);
  animation-name: none;
}

.cell.battleship {
  background-color: var(--battleship);
  animation-name: none;
}

.cell.cruiser {
  background-color: var(--cruiser);
  animation-name: none;
}

.cell.submarine {
  background-color: var(--submarine);
  animation-name: none;
}

.cell.destroyer {
  background-color: var(--destroyer);
  animation-name: none;
}
