:root {
  background-color: black;
  --active-color: #111;

  --carrier: red;
  --battleship: blueviolet;
  --cruiser: greenyellow;
  --submarine: gold;
  --destroyer: green;

  --menu-hover: rgb(49, 49, 49);

  font-family: "Courier New", Courier, monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding: 0;
  background-color: black;
  height: calc(var(--vh) * 100);
  width: 100%;
  overflow: hidden;
}

/* CONTAINER */

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  height: 100%;
  background: #111;
}

/* START MENU */

.menu {
  grid-area: 1 / 1 / -1 / -1;
  padding: 1rem 0;
  align-self: center;
  color: white;
  width: 100%;
}

.menu-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div > input {
  background-color: #181818;
  border: none;
  border-bottom: #000 2px solid;
  color: white;
  min-width: 20%;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  font-size: 2vh;
  font-family: inherit;
}

.input-div input:focus,
.input-div input:hover {
  transition: 0.5s;
  border-bottom: var(--active-color) 2px solid;
}

.username-two:disabled {
  transition: 0.2s;
  opacity: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  border-bottom: var(--active-color) 0px solid;
  filter: blur(1rem);
}

.input-div > label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 2vh;
}

.input-div > label > input {
  margin-left: auto;
}

.menu-form > button {
  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  margin: 0;
  padding: 0.5rem 0;
  transition: 0.25s;
  font-size: 3vh;
  cursor: pointer;
  font-family: inherit;
}

.menu-form > button:focus,
.menu-form > button:hover {
  padding: 0.75rem 0;
  transition: 0.5s;
  background-color: var(--menu-hover);
}

/* SET SHIPS */

.set-ships-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
  justify-content: center;
  user-select: none;
}

/* SHIPS STORAGE */

.ship-storage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 1rem 0rem;
}

.ship-storage .horizontal-ships {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ship-storage .vertical-ships {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.cell-group {
  display: flex;
  height: max-content;
  width: max-content;
  cursor: move;
  z-index: 1;
}

.cell-group.horizontal {
  flex-direction: row;
}

.cell-group.vertical {
  flex-direction: column;
}

.cell-group:active {
  z-index: 10;
}

.cell-group .cell {
  height: auto;
  width: 8vw;
  aspect-ratio: 1;
  background-color: white;
  border: solid 1px #000;
  box-shadow: inset 0 0 0.5vh 0 #0000007a;
}

/* SET SHIPS GRID */

.place-ships {
  width: auto;
  height: auto;
  aspect-ratio: 1;
  background-color: #00485c;
  padding: 0.5%;
}

.place-ships .hover-carrier,
.place-ships .hover-battleship,
.place-ships .hover-cruiser,
.place-ships .hover-submarine,
.place-ships .hover-destroyer {
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url(./img/svg/shot.svg), url(./img/svg/hit.svg);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-image: url(./img/svg/shot.svg), url(./img/svg/hit.svg);
}

.place-ships .hover-carrier {
  background-color: var(--carrier) !important;
}

.place-ships .hover-battleship {
  background-color: var(--battleship) !important;
}

.place-ships .hover-cruiser {
  background-color: var(--cruiser) !important;
}

.place-ships .hover-submarine {
  background-color: var(--submarine) !important;
}

.place-ships .hover-destroyer {
  background-color: var(--destroyer) !important;
}

.set-ship-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3vw;
  color: white;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1vh;
}

.buttons > *:disabled {
  color: rgba(255, 255, 255, 0.5) !important;
  background-color: #000 !important;
}

.randomize-button,
.continue-button {
  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  margin: 0;
  padding: 0.5vh 0;
  transition: 0.25s;
  cursor: pointer;
  font-family: inherit;
}

.randomize-button:hover,
.continue-button:hover {
  transition: 0.2s;
  background-color: var(--menu-hover);
}

.continue-button {
  font-size: 5vw;
}

.randomize-button {
  font-size: 4vw;
}

/* MODAL */

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2rem) grayscale(100%);
  backdrop-filter: blur(2rem) grayscale(100%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  width: 80%;
  min-height: 10rem;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;

  animation-name: shake;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.modal-para {
  font-size: 5vw;
}

.modal-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.75rem 0;
  border-radius: 0px 0px 25px 25px;
  font-family: inherit;
  font-size: 4vw;
  cursor: pointer;
}

.modal-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* GAME */

.game-area {
  align-self: center;
  display: grid;
  height: auto;
  width: 90%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  aspect-ratio: 1;
}

.game-title {
  display: flex;
  color: white;
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  justify-content: center;
  align-items: end;
  margin: 0;
  font-size: 5vw;
}

/* BOARDS */

.game-boards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.current-player-board,
.current-reference-board {
  aspect-ratio: 1;
  background-color: #00485c;
  padding: 1.5%;
}

.current-reference-board {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  margin: 1rem;
}

.current-player-board {
  grid-area: 3 / 1 / 4 / 2;
  opacity: 50%;
  width: 50%;
  justify-self: center;
}

.current-reference-board .cell {
  border: #6c9daa 0.2vw solid;
}

/* GRID */

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  /* border: #6c9daa 0.2vw solid; */

  position: relative;
  z-index: 0;
}

.row {
  display: flex;
  width: 100%;
}

.cell {
  background-color: #7db1c0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0.5vw 0 #6c9daa;

  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;

  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.cell.enabled:not(.shot) {
  cursor: pointer;
}

.cell.enabled:not(.shot):hover {
  box-shadow: inset 0px 0px 10px 1px #c5dae0;
}

.cell.shot:not(.hit):not(.hit-animation) {
  -webkit-mask-image: url(./img/svg/shot.svg);
  mask-image: url(./img/svg/shot.svg);
  /* animation-name: glow-animation; */
}

.cell.hit:not(.hit-animation) {
  -webkit-mask-image: url(./img/svg/shot.svg), url(./img/svg/hit.svg);
  mask-image: url(./img/svg/shot.svg), url(./img/svg/hit.svg);
  /* animation-name: glow-animation; */
}

@keyframes glow-animation {
  0% {
    background-color: #7db1c0;
  }
  10% {
    background-color: #ffffff;
  }
  100% {
    background-color: #7db1c0;
  }
}

.cell.hit-animation {
  box-shadow: inset 0px 0px 10px 1px #c5dae0;
  position: relative;

  animation-name: hit-animation;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);

  background-repeat: no-repeat;
  background-position: center;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 25%,
    rgba(125, 177, 192, 1) 70%
  );
}

@keyframes hit-animation {
  0% {
    background-size: 110% 110%;
  }
  50% {
    background-size: 50% 50%;
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 25%,
      rgba(125, 177, 192, 1) 70%
    );
  }
  55% {
    background-size: 75% 75%;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(251, 252, 70, 1) 10%,
      rgba(252, 161, 70, 1) 20%,
      rgba(252, 122, 70, 1) 45%,
      rgba(252, 128, 70, 1) 60%
    );
  }
  90% {
    background-size: 400% 400%;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(251, 252, 70, 1) 10%,
      rgba(252, 161, 70, 1) 20%,
      rgba(252, 122, 70, 1) 45%,
      rgba(252, 128, 70, 1) 60%
    );
  }
  100% {
    background-size: 2000% 2000%;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(251, 252, 70, 1) 20%,
      rgba(252, 161, 70, 1) 40%,
      rgba(252, 122, 70, 1) 60%,
      rgba(252, 128, 70, 1) 80%
    );
  }
}

.cell.hit-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7db1c0;
  z-index: -1;
}

.cell.glow-animation {
  animation-name: glow-animation;
}

/* SHIPS */

.carrier.animate,
.battleship.animate,
.cruiser.animate,
.submarine.animate,
.destroyer.animate {
  animation-name: ship-flash-animation, shake;
  animation-duration: 0.25s;
  animation-timing-function: ease;
}

.cell.carrier {
  background-color: var(--carrier);
  --ship-color: var(--carrier);
}

.cell.battleship {
  background-color: var(--battleship);
  --ship-color: var(--battleship);
}

.cell.cruiser {
  background-color: var(--cruiser);
  --ship-color: var(--cruiser);
}

.cell.submarine {
  background-color: var(--submarine);
  --ship-color: var(--submarine);
}

.cell.destroyer {
  background-color: var(--destroyer);
  --ship-color: var(--destroyer);
}

@keyframes ship-flash-animation {
  0% {
    background-color: white;
  }
  100% {
    background-color: var(--ship-color);
  }
}

@keyframes shake {
  10% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  20% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }
  30% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  40% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }
  50% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }
  60% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
  }
  70% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }
  80% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  90% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

/* sub-portrait version */
@media (min-aspect-ratio: 3/5) and (max-aspect-ratio: 8/10) {
  .set-ships-wrapper {
    width: 65%;
    height: 100%;
    margin: 0.5vw 0;
    gap: 1rem;
  }

  .cell-group .cell {
    width: 5vw;
  }

  .set-ship-title {
    font-size: 2vw;
  }

  .continue-button {
    font-size: 4vw;
  }

  .randomize-button {
    font-size: 3vw;
  }

  .game-area {
    width: 70%;
  }
}

/* landscape version */
@media (min-aspect-ratio: 8/10) {
  #container {
    grid-template-rows: 1fr;
    padding: 1rem 0;
  }

  /* SET SHIPS */
  .set-ships-wrapper {
    width: 100%;
    flex-direction: row;
    margin: 0.5vh 0;
    gap: 1rem;
  }

  .ship-storage {
    flex-direction: column;
    width: auto;
    margin: 0;
  }

  .cell-group .cell {
    width: 6vh;
  }

  .place-ships {
    width: auto;
    height: 100%;
  }

  .set-ship-title {
    font-size: 3vh;
  }

  .continue-button {
    font-size: 4vh;
  }

  .randomize-button {
    font-size: 3vh;
  }

  /* GAME BOARDS */
  .game-boards {
    flex-direction: row-reverse;
  }

  .game-title {
    font-size: 5vh;
  }

  .game-area {
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    aspect-ratio: 1.5/1;
    height: 100%;
  }

  .current-player-board {
    width: 70%;
  }

  /* MODAL */

  .modal-para {
    font-size: 5vh;
  }

  .modal-button {
    font-size: 3vh;
  }
}

@media (min-aspect-ratio: 8/10) and (max-aspect-ratio: 17/11) {
  .set-ships-wrapper {
    height: 65%;
    align-self: center;
  }

  .cell-group .cell {
    width: 4vh;
  }

  .set-ship-title {
    font-size: 3vh;
  }

  .continue-button {
    font-size: 5vh;
  }

  .randomize-button {
    font-size: 4vh;
  }

  .game-boards {
    flex-direction: row-reverse;
  }

  .game-title {
    font-size: 5vh;
  }

  .game-area {
    width: 75%;
    aspect-ratio: auto;
  }
}
